.box-set{
    overflow: hidden;
    height:800px;
}

.box{
    background:blue;
    height:150px;
    width: 150px;
}

.box-1{
float:left;
}

.box-2{
    float: left;
}

.box-3{
    float:left;
}

.box-4{
    float: left;
    
}